---
import { Post } from '../lib/interfaces.ts'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
  enableLink: boolean
}

const { post, enableLink = true } = Astro.props

let title = post.Title
---

<h2 class="m-0 py-[0.2rem] text-3xl sm:text-2xl font-bold text-[var(--fg)]">
  {
    enableLink ? (
      <a href={getPostLink(post.Slug)} class="text-2xl sm:text-xl text-inherit">
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span class="inline-block mr-[0.2em] text-[1.2em]">{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" class="inline-block mr-[0.2em] w-[1.3em] h-[1.3em] align-sub" />
            {title}
          </>
        ) : (
          title
        )}
      </a>
    ) : (
      <>
        {post.Icon && post.Icon.Type === 'emoji' ? (
          <>
            <span class="inline-block mr-[0.2em] text-[1.2em]">{post.Icon.Emoji}</span>
            {title}
          </>
        ) : post.Icon && post.Icon.Type === 'external' ? (
          <>
            <img src={post.Icon.Url} alt="Post title icon" class="inline-block mr-[0.2em] w-[1.3em] h-[1.3em] align-sub" />
            {title}
          </>
        ) : (
          title
        )}
      </>
    )
  }
</h2>
